.Regform {
    position: relative;

    & .inner {
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }


    & .form-wrapper {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        min-width: 100%;
        height: auto;
        transition: margin 0.3s ease-out;
        justify-content: center;

        @media (max-width: 768px) {
            height: auto;
            justify-content: space-around;
        }

        &.step {
            margin-left: -100%;
        }
    }

    & .forw-wrapper_input {
        position: relative;
        .show-pass, .hide-pass {
            position: absolute;
            top: 50%;
            /*background: url("./visibility.png") no-repeat center;*/
            background-size: contain;
            height: 16px;
            width: 16px;
            margin-top: -8px;
            right: 15px;
            cursor: pointer;
        }
        .hide-pass {
           /* background: url("./eye.png") no-repeat center;*/
            background-size: contain;
        }
    }

    & .req {
        padding-inline-start: 0;
        list-style-type: circle;

        & li {
            white-space: nowrap;
            font-weight: 600;
            font-size: .8em;
            margin-top: 10px;
            line-height: 1;
            position: relative;
            padding-left: 10px;
        }
        & .list {
            color: #ff0000;
            position: relative;
            &:before {
                content: "";
                display: block;
                position: absolute;
                background: #ff0000;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                top: 0;
                bottom: 0;
                margin: auto 0;
                left: 0;

            }
        }
        & .ok {
            color: #008000;
            position: relative;
            &:before {
                content: "";
                display: block;
                position: absolute;
                background: #008000;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                top: 0;
                bottom: 0;
                margin: auto 0;
                left: 0;
            }
        }
    }

    & .help-block {
        display: flex;
        justify-content: flex-end;
        position: relative;
        height: 16px;
        .help-icon {
            background: url("./help-round-button.png") no-repeat center right;
            height: 16px;
            width: 16px;
            cursor: pointer;
            .help-info {
                position: absolute;
                bottom: 100%;
                right: 0;
                display: none;
                background: #201e1f;
                color: #ffffff;
                font-size: 14px;
                padding: 5px 9px;
                border-radius: 5px;
                z-index: 5;
            }
            &:hover {
                .help-info {
                   display: block;
                }
            }
        }
    }
    & .errors {
        color: #ff3215;
        font-size: 14px;
        line-height: 1.1;
        margin-bottom: 10px;
    }

    .iti-flag {
        display: none;
    }

    .selected-flag {
        width: 15% !important;

        @media (max-width: 1200px) {
            width: 30% !important;
        }

        @media (max-width: 768px) {
            width: 35% !important;
        }
    }

    .iti-arrow {
        margin-top: 0vw !important;

        @media (max-width: 768px) {
            border-left: 6px solid transparent !important;
            border-right: 6px solid transparent !important;
            border-top: 9px solid #555 !important;
            margin-top: -0.5vw !important;

            &.up {
                border-bottom: none !important;
            }
        }
    }

    .intl-tel-input.allow-dropdown.separate-dial-code .selected-dial-code {
        padding-left: 0;
        font-family: 'Open Sans', sans-serif;
        font-size: 1vw;
        font-weight: 400;

        @media (max-width: 1200px) {
            font-size: 1.4vw;
        }

        @media (max-width: 768px) {
            padding-left: 3.4vw;
            font-size: 4.8vw;
        }
    }

    .intl-tel-input {
        margin-bottom: 4vw;
        color: #333;
    }
}

input {
    outline: none;
    width: 100%;
    height: 46px;
    font-size: 16px;
    padding: 0 15px;
    border-radius: 5px;
    border: none;
    font-weight: 900;
    margin-bottom: 15px;
}

.response_error {
    font-size: 20px;
    color: #ff3215;
    margin: 20px 0;
    text-align: center;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.error {
    color: #333;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    padding: 6px 0;
    background-color: rgb(254, 255, 233);
    min-width: 10%;
    font-size: 15px;
    margin: auto 0;
    display: flex;
    z-index: 50;
    border-radius: 4px;
    filter: drop-shadow(0px 0px 1px #000);
    transition: opacity 0.3s ease;

    &.active {
        opacity: 1;
    }

    @media (max-width: 1200px) {
        font-size: 12px;
    }

    & span {
        margin: auto 6px;

        @media (max-width: 1200px) {
            margin: auto 2px;
        }
    }

    & .excl {
        display: inline-block;
        fill: orange;
        width: 20px;
        margin: auto 3px;

        @media (max-width: 1200px) {
            width: 15px;
        }
    }

    &::before {
        content: '';
        clip-path: polygon(50% 40%, 0% 100%, 100% 100%);
        position: absolute;
        width: 15px;
        height: 15px;
        top: calc(0% - 12px);
        left: calc(0% + 35px);
        background-color: rgb(254, 255, 233);
    }
}

.loading {
    width: 100%;
    margin: 4.8vw auto;
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }