@import './Header/Header.scss';
@import './Regform/Regform.scss';
@import '../Information/Information.scss';
@import '../Participants/Participants.scss';
@import '../Faq/Faq.scss';

.TopSection {
  width: 100%;
  color: #fff;

  .logo {
    padding: 13px;
    background: linear-gradient(to right, #514dc7, #23214f);
    height: 100%;

    img {
      width: auto;
    }

    @media (max-width: 375px) {
      img {
        max-width: 270px;
      }
    }
  }

  header {
    background: #ffffff;

    img {
      max-height: 80px;
    }

    @media (max-width: 375px) {
      img {
        max-width: 300px;
      }
    }
  }

  .video-block {
    background: url("./images/bg.jpg") no-repeat center / cover;

    .video-link {
      position: relative;

      .video-tittle {
        position: absolute;
        left: 190px;
        top: 70px;
        z-index: 999;
        text-shadow: 1px 1px 3px #000;
        color: #fff;
        font-weight: 700;
        font-size: 18px;
        @media (max-width: 1200px) {
          left: 80px;
        }
        @media (max-width: 991px) {
          left: 28px;
          top: 48px;
        }
      }
    }
  }

  .VideoPlayer {
    height: 489px;
    max-width: 838px;
    margin: 45px auto;
    border: 20px solid #39375e;
  }

  .headline {
    background: url("./images/bg2.jpg") no-repeat left center / cover;
    text-align: center;

    .title {
      padding: 20px 0;
    }

    h1 {
      font-size: 42px;
      color: white;
      font-weight: 900;
      text-align: center;
      line-height: 1.4;
      margin: 0 0 10px;

      span {
        color: #facf5f;
      }

      @media (max-width: 764px) {
        font-size: 30px;
      }
      @media (max-width: 320px) {
        font-size: 26px;
      }
    }
  }

  .partners-block {
    background: #d7d7d7;

    .img {
      padding: 33px 0;

      img {
        width: 100%;
      }
    }
  }

  .top-reg {
    margin-top: 40px;
    padding-bottom: 30px;
  }
}

.box_wrap {
  max-width: 874px;
}

.red-btn {
  text-transform: uppercase;
  color: white;
  background: linear-gradient(to bottom, #fc5239, #ef1713, #fc5239);
  font-size: 40px;
  border: none;
  padding: 10px;
  border-radius: 50px;
  font-weight: 900;
  outline: none !important;
  margin-bottom: 10px;

  &:hover {
    background: linear-gradient(to bottom, #ef1713, #fc5239, #ef1713);
  }

  @media (max-width: 375px) {
    font-size: 28px;
  }
}

footer {
  background: #ffffff;
  padding: 30px 0;

  p {
    font-size: 14px;
    color: #000000;
    padding: 7px 0;
    text-align: center;
  }
}

.SecondRegform {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .title {
    margin-bottom: 10px;

    p {
      color: #39375e;
      font-weight: 900;
      font-size: 54px;
      line-height: 68px;
      margin-bottom: 0;
      text-align: center;
      @media (max-width: 650px) {
        font-size: 35px;
        line-height: 45px;
      }
    }
  }

  .inner {
    p {
      text-align: center;
    }

    @media(max-width: 520px) {
      width: 100%;
    }
  }

  .main-modal-text {
    padding: 0 60px;
    margin-bottom: 10px;

    p {
      color: #000;
      font-size: 24px;
      font-weight: 800;

      span {
        color: #ef483b;
      }
    }

    @media (max-width: 650px) {
      padding: 0;
      p {
        font-size: 20px;
      }
    }
  }

  .Regform {
    max-width: 520px;
    margin: auto;
  }

  input {
    margin-bottom: 15px;
  }

  .red-btn {
    margin-bottom: 0;
  }

  .popup-img {
    text-align: center;
    margin-top: 10px;

    img {
      margin: auto;
      @media (max-width: 1000px) {
        width: 100%;
      }
    }
  }
}

.modal-backdrop.show {
  opacity: .7;
}

.modal-dialog {
  max-width: 100% !important;
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.second-modal {
  .modal-content {
    background-color: #facf5f;
    max-width: 900px;
    width: 100%;
    padding: 20px 30px;
  }
}

.first-modal {
  .modal-content {
    max-width: 600px;
    padding: 15px 30px;
    background: #ffffff;
    border-radius: 5px;
    @media (max-width: 400px) {
      padding: 15px 15px;
    }
  }
}

.modal-content {
  /* max-width: 600px;*/
  background-color: transparent;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  border: 0 !important;
}